.form {
  margin-bottom: 70px;


  input[type="radio"],  input[type="checkbox"] {
    display: none;
  }


  &__title {
    margin: 80px 0 35px 0;
  }

  
  &__subtitle {
    .title();
    margin-bottom: 20px;

    &--user-name {
    }
    

    &--checkbox {
    }
  }


  &__intro {
    .padding();
    padding-bottom: 20px;
    margin-bottom: 0;
    text-align: center;
    border-bottom: 1px solid @gray-light;
  }

  
  &__item {
    .column();
    margin: 0;
    margin-bottom: 10px;
    padding: 20px;
    // border: none;
    border-bottom: 1px solid @gray-light;


    &--user-name {
    }


    &--textarea {
      border-bottom: none;
      margin-bottom: 30px;
    }
  }  


  &__label {
    display: flex;
    align-items: center;
    margin-bottom: 20px;


    &--contact {
      padding-left: 15px;
      margin-bottom: 5px;
    }
  }


  &__radio-btn, &__checkbox {
    padding: 14px 0 14px 70px;
    margin-bottom: 10px;
    text-transform: none;
    font-weight: 700;
    font-size: 16px;
  }
  &__checkbox {
    margin-bottom: 15px;
  }
  // &__checkbox-wrapper {
  //   .column();
  // }



  &__inpute {
    flex-grow: 1;
    width: 182px;
    margin-left: 10px;
    padding: 15px;
    background: @gray-lighter;
    font-size: 16px;
    border: none;


    &--contact {
      width: 100%;
      margin-left: 0;
      margin-bottom: 15px;
    }

    &::-webkit-input-placeholder {
      font-weight: 700;
      color: #000000;
    }
    &::-moz-input-placeholder {
      font-weight: 700;
      color: #000000;
    }
  }


  &__btn {
    .padding();
  }
}


///////////////////////////////////////////////
///////////////////////////////////////////////
///////////////////////////////////////////////
///////////////////////////////////////////////
///////////////////////////////////////////////
///////////////////////////////////////////////

@media @mobile-width {
  .form {
    br {
      display: none;
    }
  }
}

///////////////////////////////////////////////
///////////////////////////////////////////////
///////////////////////////////////////////////
///////////////////////////////////////////////
///////////////////////////////////////////////
///////////////////////////////////////////////

@media @tabled-width {
  .form {
    padding: 0 60px;

    &__intro {
      border-bottom: none;
    }


    &__subtitle {
      margin-bottom: 40px;
      font-size: 20px;

      &--hidden {
        display: none;
      }

      &--radio {
        padding-top: 20px;
        text-align: left;
      }

      &--checkbox {
        padding: 0 50px;
      }

      &--user-name {
        padding: 0;
        padding-top: 20px;       
        text-align: left;
      }

      &--user-contact {
        padding: 0 50px;
      }

      &--textarea {
        padding: 0 50px;
      }
    }


    &__items {
      display: flex;
      flex-wrap: wrap;
    }


    &__item {
      .column();
      margin: 0;
      margin-bottom: 40px;
      padding: 0;
      border: none;

      &:first-child {
        border-top: none;
      }
      &:last-of-type {
      }


      &--user-name {
        order: 1;
        padding-left: 50px;
        width: 50%;        
        border-left: 1px solid @gray-light;
      }


      &--user-contact {
        order: 2;
        margin-top: 20px;
        width: 100%;
        border-top: 1px solid @gray-light;
      }


      &--radio {
        order: 0;
        width: 50%;        
      }


      &--checkbox {
        order: 3;
        width: 100%;
        border-top: 1px solid @gray-light;
      }


      &--textarea {
        order: 4;
        width: 100%;
        border-top: 1px solid @gray-light;
      }
    }


    // &__checkbox-wrapper {
    //   .row();
    //   flex-wrap: wrap;
    //   padding: 0 100px;
    // }


    &__radio-btn {
      margin-bottom: 25px;

      &--margin-bottom {
        margin-bottom: 0;
      }
    }


    &__label {

      &--margin-bottom {
        margin-bottom: 0;
      }
    }

    &__checkbox {
      margin-bottom: 25px;
      
      &:nth-of-type(odd) {
        margin-right: 60px;
      }
    }

    &__btn {
      order: 5;
      padding-right: 0;
      padding-left: 0;
      width: 100%;
    }
  }
}


///////////////////////////////////////////////
///////////////////////////////////////////////
///////////////////////////////////////////////
///////////////////////////////////////////////
///////////////////////////////////////////////
///////////////////////////////////////////////



@media @desktop-width {
  .form {
    padding: 0 120px;

    &__subtitle {

      &--radio {
        text-align: center;
      }


      &--user-name {
        // width: 100%;
        text-align: center;
      }


      &--user-contact {
        width: 100%
      }


      &--hidden {
        display: inline;
      }
    }


    &__item {

      &--user-contact {
        .row();
        flex-wrap: wrap;     
      }
    }


    &__label {

      &--contact {
        padding-left: 0;
        padding-right: 15px;
        margin-bottom: 10px;

        &:first-child {
          // margin-right: 30px;
        }
      }
    }


    &__inpute {
      &--contact {
        width: auto;
        vertical-align: top;
        margin-bottom: 10px;

        &:first-of-type {
          margin-right: 50px;
        }
      }
    }


    // &__checkbox-wrapper {
    //   padding: 0;
    //   justify-content: space-between;
    // }


    &__checkbox {

      &:nth-of-type(odd) {
        margin-right: 0;
      }
    }
  }
}