.page-header {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    bottom: 0px;
    width: 100%;
    height: 30px;
    background: url(../img/corner-white.svg);
  }

  &__wrapper {
    background: url(../img/bg-tabled.jpg) no-repeat 50% 0px;
  }


  &__logo {    
    text-align: center;
  }


  &__title {
    padding: 35px 0 88px 0;
  }
}