.video {
  text-align: center;
  
  &__subtitle {
    .padding();
    .title();
    margin: 35px 0;
  }


  &__intro {
    .padding();
    margin-top: 0;
    margin-bottom: 30px;
  }

  &__item {
    margin-bottom: 70px;
  }
}